:root {
    --blue: #2683B5;
    --gray: #393738;
    --green: #008D35;
    --white: #FFFFFF;
    --purple: #414191;
}
body {
    background-color: white;
    font-family: Arial, sans-serif;
}
header{
    width: auto;
    color: white;
    margin: -1rem;
    padding: .3rem;
    text-align: center;
    margin-top: -1.8rem;
    background-color: var(--green);
}
.title {
    color: var(--white);
    font-size: 2.5rem;
}
.aling {
    text-align: center;
}
.subtitle {
    color: var(--gray);
    font-size: 1.5rem;
    font-weight: bold;
    margin: 3rem 0;
}

.inputs {
    width: 100%;
    padding: 1rem;
    text-align: center;         
    border-radius: 5px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}
.form {
    text-align: center;
}
#selectVendedor {
    margin: 1rem 0;
}
 .titles {
    color: var(--gray);
}
option {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

button {
    background-color: var(--green);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin: 10px 0;
}

button:hover {
    background-color: darkgreen;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 10px;
    text-align: left;
}

table th {
    background-color: var(--green);
    color: white;
}

table tr:nth-child(even) {
    background-color: #ffffff;
}

table tr:nth-child(odd) {
    background-color: #d3d3d3;
}

